<div class="level box">
  <div class="level-item">
    <%= form_with url: root_url, method: 'get' do |form| %>
  
      <div class="level">
        <div class="level-item mx-2">
          <div class="block">
            <div class="field">
              <%= form.label :departing_airport, 'From' %>
              <div class="control">
                <%= select_tag(:departing_airport, options_for_select(@airports), selected: params[:departing_airport], class: 'select') %>
              </div>
            </div>
          </div>
        </div>

        <div class="level-item mx-2">
          <div class="block">
            <div class="field">
              <%= form.label :arriving_airport, 'To' %>
              <div class="control">
                <%= select_tag(:arriving_airport, options_for_select(@airports), selected: params[:arriving_airport], class: 'select') %>
              </div>
            </div>
          </div>
        </div>

        <div class="level-item mx-2">
          <div class="block">
            <div class="field">
              <%= form.label :date, 'Date' %>
              <div class="control">
                <%= select_tag(:date, options_for_select(@dates), selected: params[:date], class: 'select') %>
              </div>
            </div>
          </div>
        </div>

        <div class="level-item mx-2 mt-5">
          <div class="block">
            <%= form.submit 'Search airports', class: 'button is-small is-link'  %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>